<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    {% extends "base_bootstrap.html" %}

    {% block content %}
    <a href="{% url 'cards:box_create' %}"><h2> Create New Box</h2></a>
        <h2>
            All boxes
        </h2>
        {% for box in box_list %}
            <h3>🗃 {{ box.name }} Box
            <a href=" {% url 'cards:box_update' pk=box.pk %} ">
                Update!
            </a>
            <a href=" {% url 'cards:box_delete' pk=box.pk %} ">
                Delete!
            </a>
            </h3>
            <a href=" {% url 'cards:card_detail' pk=box.pk %} ">
                See Inside
            </a>
        {% endfor %}
    {% endblock content %}
</body>
</html>