<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    {% extends "base_bootstrap.html" %}

    {% block content %}
    <a href="{% url 'cards:create' %}"><h2> Create New Card</h2></a>
        <h2>
            All Cards
        </h2>
        {% for card in card_list %}
            <h3>🗃 {{ card.box }} Box</h3>
            <a href="{% url 'cards:detail' pk=card.id %}">
            <article>
                {{ card }}
            </article>
            </a>
            <a href=" {% url 'cards:update' pk=card.pk %} ">
                Update!
            </a>
            <a href=" {% url 'cards:delete' pk=card.pk %} ">
                Delete!
            </a>
        {% endfor %}
    {% endblock content %}
</body>
</html>